//Variables

$BlueDefault: #023E8A;
$StrongGray: #535353;
$FaintGray: #686868;

//fonts

@font-face {
    font-family: 'bold';
    src: url('/fonts/SFPRODISPLAYBOLD.OTF') format('truetype');
}

@font-face {
    font-family: 'regular';
    src: url('/fonts/SFPRODISPLAYMEDIUM.OTF') format('truetype');
}

//Mixins

@mixin setTitlesContainer(){}